body {
  background-color: rgb(22, 14, 170);
}
h1 {
  text-align: center;
}
#data {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
#data_1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
#data_2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.buttons {
  position: relative;
  left: 46%;
  transform: translate(-50%, 0);
}
.textRedaction{
    width: 300px;
}
.numOne {
  /* width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  display: inline-flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.numSec {
  display: inline-flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.numThree {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inform{
    text-decoration: none;
    font-size: x-large;
    color: whitesmoke;
}
a{
    text-decoration: none;
    font-size: x-large;
    color: whitesmoke;  
}